<div class="ampel-box ampel-placeholder">
    <span class="ampel-icon">&#128274;</span>
    <div>
        <div class="ampel-text">DE-ENERGIZATION ASSESSMENT</div>
        <div class="ampel-subtext">Assessment logic to be defined – placeholder</div>
    </div>
</div>
