<header>
    <div class="header-left">
        <h1>De-Energization Assessment</h1>
        <div class="meta">
            <span>Project: <strong>{{ info.project }}</strong></span>
            <span>Study Case: <strong>{{ info.study_case }}</strong></span>
        </div>
    </div>
    <div class="header-right">
        <div class="company">{{ info.company }}</div>
        <div class="datum">{{ info.date }} – {{ info.time }}</div>
        <div class="bearbeiter">Author: {{ info.author }}</div>
    </div>
</header>
