{% extends 'pages/_base.html.j2' %}
{% block title %}Overview{% endblock %}
{% block content %}
{% include 'partials/header.html.j2' %}
{% include 'partials/ampel.html.j2' %}
{% include 'partials/kpi_hero.html.j2' %}
{% include 'partials/summary.html.j2' %}
{% include 'partials/overview_board.html.j2' %}
{% include 'partials/executive_summary.html.j2' %}
{% endblock %}
