<div class="ampel-box ampel-placeholder">
    <span class="ampel-icon">&#128274;</span>
    <div>
        <div class="ampel-text">FREISCHALTUNGSBEWERTUNG</div>
        <div class="ampel-subtext">Bewertungslogik wird noch definiert – Platzhalter</div>
    </div>
</div>
