<header>
    <div class="header-left">
        <h1>Freischaltungsbewertung</h1>
        <div class="meta">
            <span>Projekt: <strong>{{ info.project }}</strong></span>
            <span>Studienfall: <strong>{{ info.study_case }}</strong></span>
        </div>
    </div>
    <div class="header-right">
        <div class="firma">{{ info.company }}</div>
        <div class="datum">{{ info.date }} – {{ info.time }} Uhr</div>
        <div class="bearbeiter">Bearbeiter: {{ info.author }}</div>
    </div>
</header>
